<html xmlns:th="http://www.thymeleaf.org">

<head> </head>

<body>
    <h1>- 게시글 상세보기 -</h1>
    <h3> 작성자 : [[${board3.boardWriter}]]</h3>
    <h3>글 제목</h3>
    <textarea name="boardTitle" style="width:100%;" readonly />[[${board3.boardTitle}]]</textarea>
    <!--추천넣기 switch코드사용-->
    <span th:switch="${board3.like}">
        <span th:case=on>👍</span>
        <span th:case=off>👎</span>
        <h3>식사한 날짜 및 시간</h3>
        <textarea name="boardDate" style="width:100%" readonly />[[${board3.boardDate}]]</textarea>
        <h3>글 내용</h3>
        <textarea name="boardContent" style="width:100%; height:200px" readonly />[[${board3.boardContent}]]</textarea>
        <h3>글 작성시간</h3>
        <span>[[${board3.boardTime}]]</span><br />
        <a href="/board3/boardList">목록으로</a>
        <th:block th:if="${board3.boardWriter} == ${session.user.userId}">
            <!--글작성자와 로그인한 사용자의 이름이 같을 경우-->
            <a th:href="@{/board3/boardUpdate(boardNo=${board3.boardNo})}">글 수정</a>
            <a th:href="@{/board3/boardRemove(boardNo=${board3.boardNo})}">글 삭제</a>
        </th:block>

</body>

</html>